<div>
  <a routerLink="/inline" routerLinkActive="active">Inline</a>
</div>
<div>
  <a routerLink="/tree" routerLinkActive="active">Tree</a>
</div>
<div>
  <a routerLink="/data_driven" routerLinkActive="active">Data Driven</a>
</div>
<div>
  <router-outlet></router-outlet>
</div>
