<div [formGroup]="form" >
  <div [ngSwitch]="question.controlType">

    <label *ngSwitchCase="'label'" [attr.for]="question.key" style="width:100%; text-align: center">{{question.value}}</label>

    <input *ngSwitchCase="'textbox'" [formControlName]="question.key"
           [id]="question.key" [type]="question.type"  style="width:100%" [readOnly]="question.readOnly">

    <textarea *ngSwitchCase="'textarea'" [formControlName]="question.key" [readOnly]="question.readOnly"
              [id]="question.key"  style="width:100%">{{question.value}}</textarea>

    <select [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key"
            (change)="onSelectChange()" style="width:100%; height:26px">
      <option *ngFor="let val of question.values" [value]="val" [disabled]="question.readOnly" selected="val == question.value">{{val}}</option>
    </select>

  </div>

  <div class="errorMessage" *ngIf="!isValid" style="color:red">This field is required</div>
</div>
