
  <div style="text-align: right">
    <button type="submit" (click)="copy()">Copy</button>
    <button type="submit" (click)="reset()">Reset</button>
  </div>

  <div *ngFor="let component of components;">
    <mat-expansion-panel >
      <mat-expansion-panel-header>
        {{component.name}}
      </mat-expansion-panel-header>
      <div *ngFor="let row of component.rows; let i = index;" class="row">
        <div *ngFor="let question of row.info;" class="col-md-2">
          <app-question [question]="question" [form]="form.controls[component.name].controls['info' + i]" ></app-question>
        </div>
        <div *ngFor="let question of row.pre;" class="col-md-2">
          <app-question [question]="question" [form]="form.controls[component.name].controls['preview' + i]" ></app-question>
        </div>
        <div *ngFor="let question of row.post;" class="col-md-2">
          <app-question [question]="question" [form]="form.controls[component.name].controls['review' + i]" ></app-question>
        </div>
      </div>
    </mat-expansion-panel>
  </div>

  <div style="text-align: right" [formGroup]="customForm">
    <select [formControlName]="'select'">
      <option *ngFor="let val of ['test', 'admin', 'user']" [value]="val">{{val}}</option>
    </select>
    <button type="submit" (click)="save()" >Save</button>
  </div>

