<div>
  <ag-grid-angular
    style="height: 500px;"
    class="ag-theme-balham"
    #agGrid
    id="myGrid0"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [enableRangeSelection]="true"
    [groupSuppressAutoColumn]="true"
    [rowData]="rowData"
    [groupHideOpenParents]="true"
    (gridReady)="onGridReady($event)"
    (rowDragEnd)="onRowDragEnd($event)"
    [enableGroupEdit]="true"
    (cellValueChanged)="onCellValueChanged($event)"
  ></ag-grid-angular>
</div>
<div>
  <button (click)="save()" style="width: 500px; margin: 10px"> Save </button>
</div>
