<div>
  <ag-grid-angular
    style="height: 500px;"
    class="ag-theme-balham"
    #agGrid
    id="myGrid1"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [rowData]="rowData"
    [rowModelType]="rowModelType"
    [frameworkComponents]="frameworkComponents"
    [loadingCellRenderer]="loadingCellRenderer"
    [loadingCellRendererParams]="loadingCellRendererParams"
    [pagination]="true"
    (cellValueChanged)="onCellValueChanged($event)"
    (gridReady)="onGridReady($event)"
  ></ag-grid-angular>
</div>
<form>
  <button (mouseup)="update()" (mousedown)="save()" type="submit" style="width: 500px; margin: 10px"> Save </button>
</form>
